@model CRUD.ViewModels.CatalogoViewModels.Catalogo
@{
    ViewBag.Title = "DetalleTodos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle de Todos los Clientes</h2>

@Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Ver Activos", "Detalle", null, new { @class = "btn btn-success" })
<br />
<br />

<table class="table table-hover table-sm center-text">
    <tr class="center-text">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">RFC</th>
        <th scope="col">Direccion</th>
        <th scope="col">CP</th>
        <th scope="col">Email</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
    </tr>
    @if (Model.ListaCliente.Count > 0)
    {
        foreach (var clientes in Model.ListaCliente)
        {

            <tr class="center-text">
                <td scope="row">@clientes.IdCliente</td>
                <td>@clientes.Nombre</td>
                <td>@clientes.RFC</td>
                <td>@clientes.Direccion</td>
                <td>@clientes.CP</td>
                <td>@clientes.Email</td>
                @if (clientes.Estado == 1)
                {
                    <td>Activo</td>
                }
                else
                {
                    <td>Inactivo</td>
                }
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = clientes.IdCliente }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = clientes.IdCliente }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                <p>No hay registros</p>
            </td>
        </tr>
    }
</table>